//signIn
.signIn_form {
  h2 {
    margin-bottom: 10px;
  }
  width: 350px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  span {
    ul {
      position: relative;
      margin-top: 10px;
      width: 250px;
      display: flex;
      font-size: 12px;
      justify-content: space-between;
    }
  }
}
//SignUP
.signUp_form {
  h2 {
    margin-bottom: 10px;
  }
  width: 350px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  span {
    ul {
      position: relative;
      margin-top: 10px;
      width: 250px;
      display: flex;
      font-size: 12px;
      justify-content: space-between;
    }
  }
}
//Restore
.restore_form {
  h2 {
    margin-bottom: 10px;
  }
  width: 350px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
  span {
    ul {
      position: relative;
      margin-top: 10px;
      width: 250px;
      display: flex;
      font-size: 12px;
      justify-content: space-between;
    }
  }
}
