.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  aside {
    background-color: rgb(237, 244, 245);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(218, 218, 218, 0.933);
    .home__navigation {
      width: 100%;
      height: 50px;
      display: flex;
    }
  }
  main {
    position: sticky;
    width: 85%;
    height: 100%;
  }
}
